@import 'themes.css';

:root {
  --navbar-height: 3rem;
  --sidebar-width: 10rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  overflow: hidden; /* no scrolling */
}

#app {
  height: 100dvh;

  display: grid;
  grid-template-columns: var(--sidebar-width) 1fr;
  grid-template-rows: var(--navbar-height) 1fr;
  grid-template-areas:
    'header header'
    'sidebar main';
}

a {
  /* temporary TODO */
  color: skyblue;
}
