@import 'themes.css';
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap'); /* TODO */

:root {
  --sidebar-width: 15rem;
  --topbar-height: 3rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'DM Sans';
  background-color: var(--bg-color);
  color: var(--text-color);

  overflow: hidden; /* no scrolling */
}

#app {
  height: 100dvh;
}

a {
  /* temporary TODO */
  color: var(--text-color);
}

/* --------- some ui shared styles --------- */

button {
  cursor: pointer;
}

input,
textarea,
select,
button {
  background-color: var(--btn-bg-color);
  color: var(--text-color);
  border: 1px solid #333333;
  border-radius: var(--small-border-radius);
  padding: 0.4rem 0.6rem;
  font-size: 15px;
  font-family: inherit;

  /* remove default glow in some browsers */
  outline: none;
  box-shadow: none;

  &:hover:not(:focus) {
    border-color: #444444;
    background-color: var(--btn-bg-color-hover);
  }
}

input::placeholder,
textarea::placeholder {
  color: #777777;
  opacity: 1;
}

/* icon inside time inputs */
input::-webkit-calendar-picker-indicator {
  cursor: pointer;
  opacity: 0.5;
}

/* darken picker popup background */
[data-theme='dark'] input {
  color-scheme: dark;
}

input:focus,
textarea:focus,
select:focus,
button:active {
  border-color: var(--git-color);
  background-color: var(--btn-bg-color-hover);
}
