@import 'themes.css';
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap'); /* TODO */

:root {
  --navbar-height: 3rem;
  --sidebar-width: 15rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'DM Sans';
  background-color: var(--bg-color);
  color: var(--text-color);

  overflow: hidden; /* no scrolling */
}

#app {
  height: 100dvh;

  display: grid;
  grid-template-rows: var(--navbar-height) auto;
}

a {
  /* temporary TODO */
  color: skyblue;
}
