:root, /* default */
[data-theme='dark'] {
  --bg-color: #242424;
  --navbar-color: #3d3d3d;
  --sidebar-color: #363636;
  --text-color: #ffffff;
}

[data-theme='light'] {
  --bg-color: #f2f2f2;
  --navbar-color: #d4d4d4;
  --sidebar-color: #d4d4d4;
  --text-color: #101010;
}
