:root {
  --git-color-real: #f03c2e;
  --small-border-radius: 3px;
}

:root, /* default */
[data-theme='dark'] {
  --bg-color: #1a1a1a;
  --text-color: #c1c1c1;
  --text-color-hard: #fff;

  --btn-bg-color: #111111;
  --btn-bg-color-hover: color-mix(in srgb, var(--btn-bg-color), white 3%);

  --git-color: color-mix(in srgb, var(--git-color-real), black 30%);

  --sidebar-color: #242424;
  --sidebar-hover-color: color-mix(in srgb, var(--sidebar-color), white 10%);

  --grid-color: #262626;
  --grid-thickness: 1px;
  --grid-border: var(--grid-thickness) solid var(--grid-color);
}

[data-theme='light'] {
  --bg-color: #f2f2f2;
  --text-color: #101010;
  --text-color-hard: #000;

  --btn-bg-color: #fff;
  --btn-bg-color-hover: color-mix(in srgb, var(--btn-bg-color), black 3%);

  --git-color: color-mix(in srgb, var(--git-color-real), white 10%);

  --sidebar-color: #d4d4d4;
  --sidebar-hover-color: color-mix(in srgb, var(--sidebar-color), black 10%);

  --grid-color: #d1d1d1;
  --grid-thickness: 1px;
  --grid-border: var(--grid-thickness) solid var(--grid-color);
}
